<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="bi bi-cash-stack"></span> Hakkımda</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="bi bi-broadcast" ></span> Eğitim Durumu</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-snow2"></span> Çalıştığım Kurum Ve Kuruluşlar</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-earbuds"></span> Programlama Dilleri Ve Teknolojiler</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-palette-fill"></span> Staj Yerlerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-wallet-fill"></span> Yaptığım İşler</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="bi bi-suit-spade"></span> Hizmetlerim</a>
            <a href="#pigraBlog" class="nav-item nav-link"><span class="bi bi-x-diamond-fill"></span> Hakkımdaki Yorumlar</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="bi bi-sunrise-fill"></span> Soru Görüş Öneri ve Bana Yazın</a>
        </div>
    </nav>
</div>
