
@{
    ViewBag.Title = "CreateWorks";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Çalışma Ekleme Sayfası</h2>

<form method="post">


    <label> Unvan</label>
    <input type="text" name="Unvan" class="form-control" />
    <br />
    <label> Açıklama </label>
    <input type="text" name="description" class="form-control" />
    <label> Fotoğraf </label>
    <input type="text" name="photo" class="form-control" />
    <br />
    <button class="btn btn-info">Çalışma Ekle</button>



</form>

